<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='../assets/style.css' rel='stylesheet'>
    <script src="../assets/script.js"></script>
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
          <td>id</td>
          <td>Name</td>
          <td>Age</td>
          <td>salary</td>
        </tr>
        <tr>
          <td>data</td>
          <td>hey</td>
          <td>34</td>
          <td>28000</td>
        </tr>
    </table>

    <button id='button' onclick="findAllUsers()">Afficher tout les users</button>
</body>

</html>